<h1>USERS PAGE</h1>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.current_city %>
<%= @user.email %>
<%# @user.profile_picture %>

<ol>
	<% @posts.each do |post| %>
		<li>
			<%= post.title %>
			<br />
			<%= post.content %>
		</li>
	<% end -%>
</ol>