<h1>USERS PAGE</h1>
<button><%= link_to "Edit Profile", edit_user_registration_path %></button>

<h1>Firstname: <%= @user.first_name %></h1>
<h1>Lastname: <%= @user.last_name %></h1>
<h1>Email: <%= @user.email %></h1>
<ol>
	<% @posts.each do |post| %>
		<li>
			<%= post.title %>
			<br />
			<%= post.content %>
		</li>
	<% end -%>
</ol>
