<h3>Profile Page</h3>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.current_city %>
<%= @user.created_at || date %>

<%= image_tag("#{@user.profile_pic}") %>

<button><%= link_to "Edit Profile", edit_user_registration_path %></button>

<%= will_paginate @posts %>
<ol>
	<% @posts.each do |post| %>
		<li>
			<%= link_to "#{post.title}", city_post_path(post.city.id, post) %>
			<br />
			<%= post.content %>
		</li>
			<%= link_to 'Edit', edit_city_post_path(post.city.id, post) %>
	<% end -%>
</ol>
<%= will_paginate @posts %>
