<h2>Edit Post</h2>
<h3><%= @post.title %></h3>

<%= form_for @post, url: {action: "update"} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>