<h2>New Post</h2>

<%= form_for [@city, @post] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content, :required => true%>

  <%= f.submit %>
<% end %>
