<h2><%= @city.name %></h2>
<h4><%= image_tag @city.photo_url %></h4>

<%= will_paginate @posts %>
<ol>
	<% @posts.each do |post| %>
		<li>
			<%= link_to "#{post.title}", city_post_path(@city, post) %>
			<br />
			<%= post.content %>
		</li>
	<% end -%>
</ol>
<%= will_paginate @posts %>