<!DOCTYPE html>
<html>
  <head>
    <title>CityToCity</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </head>
  <nav class="grey lighten-4" role="navigation">
    <div class="nav-wrapper container">
      <div class="brand-logo"><%= link_to "City to City", root_path %></div>
      <ul class="right hide-on-med-and-down">
      	<% if user_signed_in? %>
      		<li><%= link_to "Profile", profile_path %></li>
      		<li><%= link_to "Log Out", destroy_user_session_path, method: "delete" %></li> 
      	<% else %>
        	<li><%= link_to "Sign Up", new_user_registration_path %></li>
        	<li><%= link_to "Log In", new_user_session_path %></li>
        <% end -%>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><%= link_to "City to City", root_path %></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <body>
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
